<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/config.xsd">
	<elements>
		<element type="boolean" scope="shop">
			<name>nnwebPriceOnRequest_showPrice</name>
			<label lang="de">Artikelpreis anzeigen:</label>
			<label lang="en">Show article price:</label>
			<value>false</value>
		</element>
		<element required="true" type="text" scope="shop">
			<name>nnwebPriceOnRequest_formularID</name>
			<label lang="de">Formular-ID:</label>
			<label lang="en">Formular-ID:</label>
		</element>
	</elements>
</config>